$orange: #ed7624;
$dark-orange: #ec7404;
$dark-grey: #666666;
$light-grey: #eeeeee;
$blue: #0074a3;
$white: #ffffff;
$green: #07656b;

* {
	font-family:verdana;
	font-size: 14px;
  box-sizing: border-box;
}
html,
body {
  width: 100vw;
}
a:link,a:visited { text-decoration:none;color:$orange; outline:none; }
a:hover { text-decoration:underline;}
a.menu:link,a.menu:visited { font-family:verdana;font-size:14px;text-decoration:none;color:$orange; }
a.menu:hover { color:#ffffff; }
a.footer:link,a.footer:visited { font-family:verdana;font-size:14px;text-decoration:underline;color:$orange; }
a.footer:hover { text-decoration:none;color:#ffffff; }

h1,
h2,
h3 {

}
h1 {
  color: $dark-orange;
  font-family: verdana, arial, sans-serif;
  font-size: 1.43em; /*20px*/
  margin: 1em 0;
}

.banner-hl {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
  color: #0074a3;
  font-family: verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 34px;
}

h2 {
  color: $dark-orange;
  font-family: verdana, arial, sans-serif;
  font-size: 18px;
}

h3 {
  color: #0074a3;
  font-family: verdana, arial, sans-serif;
  font-size: 16px;
}
p,
li {
  color: $dark-grey;
  line-height: normal;
}
ul li {
  list-style-type: disc;
}
ol>li {
  margin: 1em 0;
}
p {
  margin: 1em 0;
}
img {
  /*border: 1px solid $light-grey;
  padding: .5em;*/
}
.hide {
  display: none !important;
}
.header {
}
.container {
  width: 93.5%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

}
.nav-line {
  border-top: 1px solid $light-grey;
}
.grey-line {
  border-bottom: 1px solid $dark-grey;
}
.twitter--block { /* Twitter widget container */
  width: 100%;

  .social {
    padding: 10px; /* as per twitter widget */
  }
}
.pages--body__text {
  margin-bottom: 2em;
}
footer {
  margin-top: 2em;
  border-top: 1px solid $light-grey;
  padding: 2em 0;
  clear: both;
}

.content {
  clear: both;
}
.button--lg__orange {
  border: 1px solid $orange;
  background: $orange;
  background: $blue;  /* fallback for old browsers */
  background: -webkit-linear-gradient(lighten($orange,10), $orange);
  background: -o-linear-gradient(lighten($orange,10), $orange);
  background: linear-gradient(lighten($orange,10), $orange);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: $white;
  padding: 1em 2em;
  font-size: 1.25em;
  &:hover {
    background: $white;
    color: $orange;
    border: 1px solid $orange;
  }
}
.download--bar {
  display: inline-block;
  margin: 1em 0;
  width: 100%;
  background: $light-grey;
  color: $dark-grey;
  font-weight: bold;
  span {
    float: left;
    padding: .5em;
  }
  button {
    color: $orange;
    background: $white;
    border: 1px solid $orange;
    float: right;
    padding: .5em 1.5em;
    &:hover {
      background: $orange;
      color: $white;
    }
  }
}
table {
  th {
    background: $blue;
    color: $white;
    padding: 1em .5em;
  }
  td {
    padding: 1em .5em;
    border: 1px solid $light-grey;
    color: $dark-grey;
    &:not(first-child) {
      text-align: right;
    }
  }
}
.row {
  width: 100%;
  .row--item {
    display: inline-block;
    float: left;
    width: 100%;
    .row--item__content {
      .img {
        img {
          width: 100%;
          height: auto;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
}
.question {
  font-weight: bold;
  &:not(:first-child) {
    margin-top: 2.25em;
  }
}
strong {
  color: $dark-grey;
}
.orange {
  color: $dark-orange;
}
@media only screen and (min-device-width : 280px) and (max-device-width : 819px) {
  body {
    width: 100vw;
  }
  .hide-sm {
    display: none;
  }
  #nav-desktop {
    display: none;

  }
  #nav-burger-container {

    background: $blue;

    a.nav-burger--button {
      padding: 1em 0;
      font-size: 2em;
      color: $white !important;
    }
  }

  #mySidebar {
    display: none;
    background: $orange;
    color: $white;
    overflow: auto;
    .navbar {
      height: 100%;
    }
  }
  .dropbtn {
    font-weight: bold;
  }
  .dropdown a {
    padding: .6em 1.2em;
    float:left;
    width:100%;
    border:none;
    outline:none;
    display:block;
    clear: both;
    color: $white;
    border-top: 1px solid lighten($orange, 15);
  }

  .dropdown-content {
    display: block;
    padding-left: 2em;
    clear: both;
    width: 100%;
  }
  .nav-button--close {
    float:left;
    width:100%;
    border:none;
    outline:none;
    display:block;
    color: $white;
    background: $dark-grey;
    padding: .6em 1.2em;
    font-size: 1.25em;
  }
  .header.container {
    width: 100%;
    margin: 0px;
    background: $blue;
  }
  .mobile-heading {
    padding-top: 2em;
    padding-bottom: 2em;
    background: $blue;
    background-image: url('../img/mob-header.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    .cocir-logo {
      height: 50%;
      width: auto;
    }
    h1 {
      text-align: center;
      font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
      color: $dark-orange;
      font-size: 2em;
      span {
        font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
        color: $white;
        font-size: 2em;
      }
    }
    h2 {
      text-align: center;
      font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
      color: $dark-orange;
      font-size: 2rem;
      span {
        font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue";
        color: $white;
        font-size: 2rem;
      }
    }

    .orange {
      color: $dark-orange;
    }
    .white {
      color: $white;
    }
    .twitter-img {
      position: relative;

      img {
        height: 2em;
        width: auto;
      }
    }
  }
  .home--body {
    height: 100%;
    overflow-y: auto;
  }
  .banner-hl {
    font-size: 2em;
  }
  .home--body__left,
  .home--body__text,
  .home--body__img,
  .twitter--block {
    width: 93.5vw;
    float: left;
  }
  .home--body__img {
    img {
      width: 93.5vw;
      padding: 0;
    }
  }

  .twitter--block {
    margin-bottom: 2em;
    img {
      width: 100%;
    }
    .spread-the-word {
      font-size: 1.5em;
      font-weight: bold;
      text-align: center;
      color: $white;
      margin: 1em 0;
      border: none;
      padding: 1.07em .71em; /* 15/14 10/14 */
      white-space: nowrap;
      background: $blue;  /* fallback for old browsers */
      background: -webkit-linear-gradient(lighten($blue,20), $blue);
      background: -o-linear-gradient(lighten($blue,20), $blue);
      background: linear-gradient(lighten($blue,20), $blue);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }

  .in-co-op {
    width: 100%;
    overflow: auto;
    text-align: center;

  .co-op,
  .partnership {
    border: 1px solid $blue;
    overflow: auto;
    width: 100%;
    padding: 1em;
    p,
    strong {
      color: $blue;
      span {
        color: lighten($blue, 10);
      }
    }
    .text {
      width: 100%;
    }
    .logos {
      width: 100%;
      text-align: center;
      .logos-container {

          margin-left: auto;
          margin-right: auto;
          align-content: center;
        }
      img {
        display:inline-block;
        float: left;
        margin:auto;
        width: 50%;
        height: auto;
        padding: .25em;
      }
    }
  }
  .co-op {
    .logos {
      width: 100%;
      text-align: center;
      img {
        float: none;
        margin:auto;
        width: 50%;
        height: auto;
        padding: .25em;
      }
    }
  }
}
  .pages--body__text {
    margin-bottom: 2em;
  }
  .pages--body__img {
    display: inline-block;
    float: left;
    img {
      width: 100%;
      height: auto;
      margin-bottom: 1em;
    }
  }

  .download--bar {
    width: 100%;
    display: inline-block;
    float: left;

    span {
      width: 100%;
      display: inline-block;
      float: left;
    }
    button {
      width: 100%;
      display: inline-block;
      float: left;
    }
  }
  .hamburger-icon {
    margin: 0;
    padding: 2em 16px;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
  }
  .hamburger-icon span {
      width: 40px;
      background-color: $white;

      height: 5px;
      display: block;
      margin-bottom: 6px;
  }
  .hamburger-icon span:last-child {
      margin-bottom:0px;
  }
}

@media only screen and (min-device-width : 820px) {
  .hide-lg {
    display: none;
  }
  #mySidebar {
    display: none;
  }
  .nav-burger {
    display: none;
  }
  nav {
    width: 100%;

    .dropbtn {
      padding: .75em 1.25em;
      border: none;
      cursor: pointer;
      color: $dark-grey;

        /* Aligns text */
      display: table-cell;
      vertical-align: middle;

      text-decoration: none;
      &:hover {
        color: $orange;
        border-bottom: 2px solid $orange;
        padding-bottom: calc(.75em - 2px);
        text-decoration: none;
      }
    }
    .active {
      color: $orange;
      border-bottom: 2px solid $orange;
      padding-bottom: calc(.75em - 2px);
      text-decoration: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
      position: relative;
      display: inline-block;
      float: left;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
      padding: .86em 1.14em;
      text-decoration: none;
      display: block;
      color: $white;
      background: $orange;

      &:hover {
          background: lighten($orange, 15);
      }
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
      display: block;
    }

  }
  .container {

  }
  .header {
    height: 336px;
    overflow: auto;
    border-bottom: 1px solid $light-grey;
    background: $blue;
    background-image: url('../img/BannerWEBSITE_1200x336px.jpg');
    background-repeat: no-repeat;
    background-size:cover;
  }
  .home--body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;

  .home--body__left {
    width: 80%;
    float: left;
    display: inline-block;


    .home--body__text {
      width: calc(60%); /* include img padding *2 if needed*/
      display: inline-block;
      float: left;
      padding-right: 1em;
    }
    .home--body__img {
      width: 40%;

      display: inline-block;
      float: left;
      padding: 0 2em 0 0;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .twitter--block {
    width: 20%;
    height: 100%;
    float: right;
    display: inline-block;

    .spread-img {
      width: 100%;
      border: none;
      padding: 0;
      margin: 0;
    }
  }
  .in-co-op {
    clear: both;
    width: 80%;
    position: absolute;
    bottom: 0;

    margin-top: 2em;
    padding: 0 2em 0 0;
    .co-op {
      border-bottom: 1px solid $blue;
    }
    .co-op,
    .partnership {
      display: inline-block;
      float: left;

      p,
      strong {
        color: $blue;
        span {
          color: lighten($blue, 15);
        }
      }
      .text {
        display: inline-block;
        float: left;
        width: 55%;
      }
      .logos {
        display: inline-block;
        float: left;
        width: 45%;
        align-content: center;
        text-align: center;
        .logos-container {
          width: 50%;
          height: 100%;
          margin-left: auto;
          margin-right: auto;
          align-content: center;
        }
        img {
          display:inline-block;
          float: left;
          margin:auto;
          width: 50%;
          height: auto;
          padding: .25em;
        }
      }
    }
  }
}
  .timeline-Body .customisable-border {
    .timeline-Viewport {
      max-height: 400px !important;
    }
  }

  .pages--body {
    margin-top: 1em;
  }
  .pages--body__text {
    width: 60%;
    display: inline-block;
    float: left;
    padding-right: 4em;
  }
  .pages--body__img {
    width: 40%;
    display: inline-block;
    float: left;
    img {
      width: 100%;
      height: auto;
      margin-bottom: 1em;
    }
  }
  .no-img {
    width: 80%;
  }
  .row {
    .row--item {
      width: 50%;
      .row--item__content {
        .img {
          display: inline-block;
          float: left;
          width: 30%;
          img {
            width: 100%;
            height: auto;
          }
        }
        .text {
          display: inline-block;
          float: left;
          width: 70%;
          padding: 0 2em;
          p {
            margin-top: 0px;
          }
        }
      }
    }
  }
}
